{% extends 'base.html' %}
{% load static %}

{% block navbar %}
    {% include 'navbar.html' %}
{% endblock %}

{% block content %}
        {% block header %}
            {% include 'header.html' %}
        {% endblock %}

    <!-- breadcrumbs -->
    <div class="main-wrapper">
        <div class="container">
            <ul id="breadcrumbs">
                <li><a href="/sistema/"><i class="icon-home"></i></a></li>
                <li><span>Dashboard</span></li>
            </ul>
        </div>        
        <!-- main content -->
        <div class="container">
            <div class="span6">
                <div class="w-box">
                    <div class="w-box-header">
                        <h4>Criar novo perfil de acesso</h4>
                    </div>
                    <div class="row-fluid">lfk sjad lkçfjasdç</div>
                </div>
            </div>
        </div>
        <div class="footer_space"></div>   
    </div>
{% endblock %}
