{% extends 'base.html' %}
{% load static %}

{% block navbar %}
    {% include 'sidebar.html' %}
{% endblock %}

{% block content %}
    {% block header %}
        {% include 'header.html' %}
    {% endblock %}
    <main id="main" class="main">

        <div class="pagetitle">
          <h1>Registrar Entrada / Saída</h1>
          <nav>
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="/dashboard/">Dashboard</a></li>
              <li class="breadcrumb-item">Entradas e Saídas</li>
              <li class="breadcrumb-item active">Registar Entrada ou Saída</li>
            </ol>
          </nav>
        </div><!-- End Page Title -->    
        <section class="section">
          <div class="row">
              <div class="col-lg-12">
                  <div class="card">
                      <div class="card-body">
                          <h5 class="card-title">Registrar Entrada ou Saída de Produtos</h5>
                          <div class="col-lg-12"></div>
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <td colspan="4">
                                            <div class="row mb-3">
                                                <form class="row g-3">
                                                    <form action="" method="POST">
                                                        <div class="col-md-3">
                                                            <input type="text" class="form-control" id="txtBusca" name="txtBusca" value="" placeholder="buscar um produdo...">
                                                        </div>
                                                        <div class="col-md-3">
                                                            <button type="button" name="btnBuscar" id="btnBuscar" class="btn btn-sm btn-primary"><i class="bi bi-search"></i></button>
                                                            <button type="button" name="btnLimpar" id="btnLimpar" class="btn btn-sm btn-primary"><i class="bx bx-reset"></i></button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </thead>
                            </table>
                          </div>
                          <div class="col-lg-12" name="divEntradaSaida" style="display: none;">
                            <form action="" method="post">
                              {% csrf_token %}
                              {{ form.as_p}}
                              <input type="submit" name="sarlvar" value="salvar" class="btn btn-primary btn-sm">
                            </form>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </section>
      </main><!-- End #main -->
      <script type="text/javascript"> 
        $('button#btnLimpar').on("click", function (e) {
            e.preventDefault();
            $('input#txtBusca').val('');
        });

        $('button#btnBuscar').on("click", function (e) {
            e.preventDefault();
            
            txtBusca = $('input#txtBusca').val();
            if( txtBusca.length >= 3 ) { // usuário deve digitar pelo menos 3 caracteres no campo busca
              $.ajax({
                  type: 'GET',
                  url: '{% url "buscarProdutos" %}',
                  data: {
                      'txtBusca': txtBusca,
                  },
                  datatype: "json",

                  success: function (data) {
                      console.log(data)
                  }

              });
            }
        });
    </script> 
{% endblock %}

