{% extends 'base.html' %}
{% load static %}

{% block navbar %}
    {% include 'sidebar.html' %}
{% endblock %}

{% block content %}
    {% block header %}
        {% include 'header.html' %}
    {% endblock %}
    <main id="main" class="main">

        <div class="pagetitle">
          <h1>Registrar Entrada / Saída</h1>
          <nav>
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="/dashboard/">Dashboard</a></li>
              <li class="breadcrumb-item">Entradas e Saídas</li>
              <li class="breadcrumb-item active">Registar Entrada ou Saída</li>
            </ol>
          </nav>
        </div><!-- End Page Title -->    
        <section class="section">
          <div class="row">
              <div class="col-lg-12">
                  <div class="card">
                      <div class="card-body">
                          <h5 class="card-title">Registrar Entrada ou Saída de Produtos</h5>
                          <div class="col-lg-12"></div>
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <td colspan="4">
                                            <div class="row mb-6">
                                                <form class="row g-3">
                                                    <form action="" method="POST">
                                                        <div class="col-md-4">
                                                            <label for="inputEmail5" class="form-label">Nome do Produto</label>
                                                            <input type="text" class="form-control" id="txtBusca" name="txtBusca" value="" placeholder="nome do produto...">
                                                        </div>
                                                        <div class="col-md-4">
                                                            <label for="inputPassword5" class="form-label">Código de Barras</label>
                                                            <input type="text" class="form-control" id="txtBarras" name="txtBarras" value="" placeholder="código de barras...">
                                                        </div>
                                                        <div class="col-md-2" style="padding-top:35px;"">
                                                            <button type="button" name="btnBuscar" id="btnBuscar" class="btn btn-sm btn-primary"><i class="bi bi-search" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Buscar produto"></i></button>
                                                            <button type="button" name="btnLimpar" id="btnLimpar" class="btn btn-sm btn-primary"><i class="bx bx-reset" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Limpar campos"></i></button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </thead>
                            </table>
                          </div>
                          <div class="card">
                            <div class="card-body">
                                <div class="col-lg-12" name="divResposta" id="divResposta" style="display: none;">
                                </div>
                            </div>
                          </div>
                          <div class="col-lg-12" name="divEntradaSaida" id="divEntradaSaida" style="display: none;">
                            <form action="" method="post">
                              {% csrf_token %}
                              {{ form.as_p}}
                              <input type="submit" name="sarlvar" value="salvar" class="btn btn-primary btn-sm">
                            </form>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </section>
      </main><!-- End #main -->
      <script type="text/javascript"> 
        $('button#btnLimpar').on("click", function (e) {
            e.preventDefault();
            $('input#txtBusca').val('');
            $('input#txtBarras').val('');
        });

        $('button#btnBuscar').on("click", function (e) {
            e.preventDefault();
            
            txtBusca = $('input#txtBusca').val();
            txtBarras = $('input#txtBarras').val();
            if( ( txtBusca.length >= 2 ) || ( txtBarras.length >= 2 ) ) { // usuário deve digitar pelo menos 3 caracteres no campo busca
              $.ajax({
                  type: 'GET',
                  url: '{% url "buscarProdutos" %}',
                  data: {
                      'txtBusca': txtBusca,
                      'txtBarras': txtBarras,
                  },
                  datatype: "json",

                  success: function (data) {
                    html = '<table class="table table-hover">' +
                                '<thead>' +
                                '<tr>' +
                                    '<th scope="col">#</th>' +
                                    '<th scope="col">Nome</th>' +
                                    '<th scope="col"></th>' +
                                '</tr>' +
                                '</thead>';
                    for( item in data ) {
                        html += '<tr>' +
                                '<td>' + item + '</td><td>' + data[item] + '</td>' + 
                                '<td>';
                        //console.log(data[item]);
                    }
                    html += '</table>';
                    document.getElementById('divResposta').innerHTML = html;
                    document.getElementById('divResposta').style.display = '';
                  }

              });
            }
        });
    </script> 
{% endblock %}

