{% extends 'base.html' %}
{% load static %}

{% block navbar %}
    {% include 'sidebar.html' %}
{% endblock %}

{% block content %}
    {% block header %}
        {% include 'header.html' %}
    {% endblock %}

    <main id="main" class="main">

        <div class="pagetitle">
            <h1>Listar Categorias</h1>
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/dashboard/">Dashboard</a></li>
                    <li class="breadcrumb-item">Categorias</li>
                    <li class="breadcrumb-item active">Listar Categorias</li>
                </ol>
            </nav>
        </div><!-- End Page Title -->
    
        <section class="section">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Categorias cadastradas no sistema</h5>
                            {% if message %}
                            <div class="col-lg-4">
                              <div class="alert alert-success alert-dismissible fade show" role="alert">
                                  {{ message }}
                                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                              </div>
                            </div>
                            {% endif %}
                            <!-- Table with hoverable rows -->
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <td colspan="3">
                                            <a href="/categoria/inserirCategoria">
                                                <button class="btn btn-sm btn-primary">Inserir Nova Categoria</button>
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Nome</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for categoria in categorias %}
                                    <tr>
                                        <td scope="col">{{categoria.idCategoria}}</td>
                                        <td scope="col">{{categoria.nome}}</td>
                                        <td>
                                            <table>
                                                <tr>
                                                    <td>
                                                        <a href="/categoria/editarCategoria/{{categoria.idCategoria}}">
                                                            <button class="btn btn-sm btn-primary" alt="editar"><i class="ri-edit-box-fill"></i></button>
                                                        </a>
                                                    </td>
                                                    <td>
                                                        <form action="" method="post">
                                                            {% csrf_token %}
                                                            <input type="hidden" name="idCategoria" value="{{categoria.idCategoria}}">
                                                            <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#delete{{categoria.idCategoria}}"><i class="bi bi-trash"></i></button>
                                                        </form>
                                                        <div class="modal fade" id="delete{{categoria.idCategoria}}" tabindex="-1">
                                                            <div class="modal-dialog">
                                                              <div class="modal-content">
                                                                <div class="modal-header">
                                                                  <h5 class="modal-title">ATENÇÃO!</h5>
                                                                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                                </div>
                                                                <div class="modal-body">
                                                                  Deseja realemnte excluir o registro: <span class="badge rounded-pill bg-warning text-dark">{{categoria.idCategoria}} - {{categoria.nome}}</span>?
                                                                </div>
                                                                <div class="modal-footer">
                                                                  <button type="button" class="btn btn-success" data-bs-dismiss="modal">NÃO</button>
                                                                    <form action="" method="post">
                                                                        {% csrf_token %}
                                                                        <input type="hidden" name="idCategoria" value="{{categoria.idCategoria}}">
                                                                        <button type="submit" class="btn btn-danger btn-sm">SIM</button>
                                                                    </form>
                                                                </div>
                                                              </div>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            <!-- End Table with hoverable rows -->

                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}
