{% extends 'base.html' %}
{% load static %}

{% block navbar %}
    {% include 'sidebar.html' %}
{% endblock %}

{% block content %}
    {% block header %}
        {% include 'header.html' %}
    {% endblock %}

    <main id="main" class="main">

        <div class="pagetitle">
          <h1>Relatório de Entradas e Saídas</h1>
          <nav>
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="/dashboard/">Dashboard</a></li>
              <li class="breadcrumb-item">Relatório</li>
              <li class="breadcrumb-item active">Balanç Anual</li>
            </ol>
          </nav>
        </div><!-- End Page Title -->
        <section class="section">
          <div class="row">
              <div class="col-lg-12">
                  <div class="card">
                      <div class="card-body">
                          <h5 class="card-title">Relatório Balanço Anual de Produtos</h5>
                          {% if message %}
                          <div class="col-lg-4">
                            <div class="alert alert-success alert-dismissible fade show" role="alert">
                                {{ message }}
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                          </div>
                          {% endif %}
                          <div class="col-lg-6">
                            <form action="" method="post">
                              {% csrf_token %}
                              <script>
                                  const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
                              </script>
                              <div class="col-md-4">
                                  <label for="ano" class="form-label">Ano: </label>
                                  <select id="ano" name="ano" id="ano" class="form-select">

                                      <option selected>-----</option>
                                      <option value="2024">2024</option>
                                  </select>
                              </div>
                              <input type="submit" name="btnBuscar" value="buscar" id="btnBuscar" class="btn btn-primary btn-sm">
                          </form>
                        </div>
                        <script type="text/javascript">
                          $('#entradaSaida  option[value="{{balancoAnual}}"]').prop("selected", true);
                        </script>
                      </div>
                  </div>
              </div>
          </div>
      </section>
      </main><!-- End #main -->
{% endblock %}
