{% extends 'base.html' %}
{% load static %}

{% block navbar %}
    {% include 'sidebar.html' %}
{% endblock %}

{% block content %}
    {% block header %}
        {% include 'header.html' %}
    {% endblock %}

    <main id="main" class="main">

        <div class="pagetitle">
            <h1>Listar Cidades</h1>
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/dashboard/">Dashboard</a></li>
                    <li class="breadcrumb-item">Cidades</li>
                    <li class="breadcrumb-item active">Listar Cidades</li>
                </ol>
            </nav>
        </div><!-- End Page Title -->
    
        <section class="section">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Cidades cadastradas no sistema</h5>
                            {% if message %}
                            <div class="col-lg-4">
                              <div class="alert alert-success alert-dismissible fade show" role="alert">
                                  {{ message }}
                                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                              </div>
                            </div>
                            {% endif %}
                            <!-- Table with hoverable rows -->
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <td colspan="4">
                                            <a href="/cidade/inserirCidade">
                                                <button class="btn btn-sm btn-primary">Inserir Nova Cidade</button>
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="4">
                                            <div class="row mb-3">
                                                <form class="row g-3">
                                                    <form action="" method="GET">
                                                        <input type="hidden" name="page" value="{{page.number}}">
                                                        <div class="col-md-3">
                                                            <input type="text" class="form-control" id="busca" name="busca" value="{{request.GET.busca}}" placeholder="busca...">
                                                        </div>
                                                        <div class="col-md-3">
                                                            <button type="submit" class="btn btn-sm btn-primary"><i class="bi bi-search"></i></button>
                                                            <a href="/cidade/listarCidades">limpar</a>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="page-links">
                                                                <!-- Disabled and active states -->
                                                                <nav aria-label="...">
                                                                    <ul class="pagination justify-content-end">
                                                                    {% if page.has_previous %}
                                                                        <li class="page-item">
                                                                            <a class="page-link" href="/cidade/listarCidades/?page={{page.previous_page_number}}&busca={{request.GET.busca}}" tabindex="-1">Anterior</a>
                                                                        </li>
                                                                    {% else %}
                                                                        <li class="page-item disabled">
                                                                            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Anterior</a>
                                                                        </li>
                                                                    {% endif %}
                                                                    {% for pageNum in page.paginator.page_range %}
                                                                        {% if page.number == pageNum %}
                                                                            <li class="page-item active"><a class="page-link" href="#">{{pageNum}}</a></li>
                                                                        {% else %}
                                                                            <li class="page-item"><a class="page-link" href="/cidade/listarCidades/?page={{pageNum}}&busca={{request.GET.busca}}">{{pageNum}}</a></li>
                                                                        {% endif %}
                                                                    {% endfor %}
                                                                    {% if page.has_next %}
                                                                        <li class="page-item">
                                                                            <a class="page-link" href="/cidade/listarCidades/?page={{page.next_page_number}}&busca={{request.GET.busca}}">Próxima</a>
                                                                        </li>
                                                                    {% else %}
                                                                        <li class="page-item disabled">
                                                                            <a class="page-link" href="#" aria-disabled="true">Próxima</a>
                                                                        </li>
                                                                    {% endif %}
                                                                    </ul>
                                                                </nav><!-- End Disabled and active states -->
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Nome</th>
                                        <th scope="col">Estado</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for cidade in page.object_list %}
                                    <tr>
                                        <td scope="col">{{cidade.idCidade}}</td>
                                        <td scope="col">{{cidade.nomeCidade}}</td>
                                        <td scope="col">{{cidade.estado}}</td>
                                        <td>
                                            <table>
                                                <tr>
                                                    <td>
                                                        <a href="/cidade/editarCidade/{{cidade.idCidade}}">
                                                            <button class="btn btn-sm btn-primary" alt="editar"><i class="ri-edit-box-fill"></i></button>
                                                        </a>
                                                    </td>
                                                    <td>
                                                        <form action="" method="post">
                                                            {% csrf_token %}
                                                            <input type="hidden" name="idCidade" value="{{cidade.idCidade}}">
                                                            <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#delete{{cidade.idCidade}}"><i class="bi bi-trash"></i></button>
                                                        </form>
                                                        <div class="modal fade" id="delete{{cidade.idCidade}}" tabindex="-1">
                                                            <div class="modal-dialog">
                                                              <div class="modal-content">
                                                                <div class="modal-header">
                                                                  <h5 class="modal-title">ATENÇÃO!</h5>
                                                                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                                </div>
                                                                <div class="modal-body">
                                                                    Deseja realmente excluir o registro <span class="badge rounded-pill bg-warning text-dark">{{cidade.idCidade}} - {{cidade.nomeCidade}}</span>?
                                                                    <span class="badge border-danger border-1 text-danger">TODOS OS REGISTROS DE FORNECEDORES E PRODUTOS VINCULADOS <br>SERÃO EXCLUÍDOS</span>
                                                                </div>
                                                                <div class="modal-footer">
                                                                  <button type="button" class="btn btn-success" data-bs-dismiss="modal">NÃO</button>
                                                                    <form action="" method="post">
                                                                        {% csrf_token %}
                                                                        <input type="hidden" name="idCidade" value="{{cidade.idCidade}}">
                                                                        <button type="submit" class="btn btn-danger btn-sm">SIM</button>
                                                                    </form>
                                                                </div>
                                                              </div>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            <div class="page-links">
                                <!-- Disabled and active states -->
                                <nav aria-label="...">
                                    <ul class="pagination">
                                    {% if page.has_previous %}
                                        <li class="page-item">
                                            <a class="page-link" href="/cidade/listarCidades/?page={{page.previous_page_number}}" tabindex="-1">Anterior</a>
                                        </li>
                                    {% else %}
                                        <li class="page-item disabled">
                                            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Anterior</a>
                                        </li>
                                    {% endif %}
                                    {% for pageNum in page.paginator.page_range %}
                                        {% if page.number == pageNum %}
                                            <li class="page-item active"><a class="page-link" href="#">{{pageNum}}</a></li>
                                        {% else %}
                                            <li class="page-item"><a class="page-link" href="/cidade/listarCidades/?page={{pageNum}}">{{pageNum}}</a></li>
                                        {% endif %}
                                    {% endfor %}
                                    {% if page.has_next %}
                                        <li class="page-item">
                                            <a class="page-link" href="/cidade/listarCidades/?page={{page.next_page_number}}">Próxima</a>
                                        </li>
                                    {% else %}
                                        <li class="page-item disabled">
                                            <a class="page-link" href="#" aria-disabled="true">Próxima</a>
                                        </li>
                                    {% endif %}
                                    </ul>
                                </nav><!-- End Disabled and active states -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}
