 <!-- ======= Sidebar ======= -->
 <aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

      <li class="nav-item">
        <a class="nav-link " href="/dashboard/">
          <i class="bi bi-grid"></i>
          <span>Dashboard</span>
        </a>
      </li><!-- End Dashboard Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#usuarios-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-menu-button-wide"></i><span>Usuários</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="usuarios-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="/usuario/inserirUsuario">
              <i class="bi bi-circle"></i><span>Inserir</span>
            </a>
          </li>
          <li>
            <a href="/usuario/listarUsuarios">
              <i class="bi bi-circle"></i><span>Listar</span>
            </a>
          </li>
        </ul>
      </li>
      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#categorias-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-menu-button-wide"></i><span>Categorias</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="categorias-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="/categoria/inserirCategoria">
              <i class="bi bi-circle"></i><span>Inserir</span>
            </a>
          </li>
          <li>
            <a href="/categoria/listarCategorias">
              <i class="bi bi-circle"></i><span>Listar</span>
            </a>
          </li>
        </ul>
      </li>      
      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#produtos-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-menu-button-wide"></i><span>Produtos</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="produtos-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="/produto/inserirProduto">
              <i class="bi bi-circle"></i><span>Inserir</span>
            </a>
          </li>
          <li>
            <a href="/produto/listarProdutos">
              <i class="bi bi-circle"></i><span>Listar</span>
            </a>
          </li>
        </ul>
      </li>

    </ul>

  </aside><!-- End Sidebar-->